.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .imagen {
    display: block;
  }
  
  .inp {
    display: block;
  }

  .inp-label {
    margin:10px;
    cursor: pointer;
    padding: 3px;
    border: solid black 1px;
    background-color: yellowgreen;
    font-weight: bold;
    font-size: large;
  }

  .prediccion{
    padding: 3px;
    margin:10px;
    font-weight: bold;
    font-size: large;
    border: solid black 1px;
    background-color: yellowgreen;

  }